@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "Dati Perizia";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<style>
    table, td, th {
        border: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 20px;
    }
</style>
<br /><br />
<details>
    <summary>Info generali su spedizione...</summary>
    <div class="jumbotron">

        <div>
            @{var item1 = Model.AGR_SpedizioniWEB_Decoded_vw.ToList();}
            @{var item2 = Model.AGR_TipiPerizia.ToList();}
            @{var item3 = Model.AGR_Meteo.ToList();}

            @*@Html.Label("Spedizione :") &nbsp;  @Html.Label(item1[0].ID)*@
            <table>
                <tr>
                    <td>
                        @Html.Label("Spedizione : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].ID)
                    </td>
                    <td>&nbsp;&nbsp;</td>


                </tr>
                <tr>
                    <td>
                        @Html.Label("Viaggio : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDOriginale1)
                    </td>
                    @*<td>&nbsp;&nbsp;</td>*@
                </tr>
                <tr>
                    <td>
                        @Html.Label("Del : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("POL : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDPortoImbarco + " -" + item1[0].POL)
                    </td>
                </tr>
                <tr>

                    <td>
                        @Html.Label("POD : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDPortoSbarco + " -" + item1[0].POD)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Nave : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDNave + " -" + item1[0].Nave)
                    </td>
                    @*<td>&nbsp;&nbsp;</td>*@
                </tr>
                <tr>
                    <td>
                        @Html.Label("Casa costruttrice : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDCasa + " -" + item1[0].Casa)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Tipo perizia : ")
                    </td>
                    <td>
                        @Html.Label(item2[0].ID + " - " + item2[0].DescrITA)
                    </td>
                </tr>
            </table>

        </div>
    </div>
</details>
<br />
<div>
    @using (Html.BeginForm("SalvaPeriziaTesta", "Home", new { IDPerito = ViewBag.IDPerito, IDSpedizione = ViewBag.IDSpedizione, IDMeteo = @item3[0].ID,
                                                              IDTP = item2[0].ID }, FormMethod.Post))
    {


    <table>
        <tr>
            <td>
                @Html.Label("Inspection date")
            </td>
            <td>
                @Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"), new { @readonly = "readonly", style = "background:lightgrey" })
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Chassis")
            </td>
            <td>
                @Html.TextBox("Chassis", "", new { onkeyup = "InputToUpper(this);" })
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Seleziona modello")

            </td>
            <td>
                @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona modello --", new { @class = "form-control selectpicker data-live-search=true" })

            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        @if (item1[0].IDCasa.ToUpper() == "RTB")
        {
            <tr>
                <td>
                    @Html.Label("Seleziona Trasportatore")

                </td>
                <td>
                    @Html.DropDownList("IDTrasportatoreGrim", new SelectList((SelectList)ViewData["ElencoTraspGrim"], "Value", "Text", ViewBag.aIDTrasportatore), "-- Seleziona trasportatore --", new { @class = "form-control selectpicker data-live-search=true" })

                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Seleziona tipo rotabile")

                </td>
                <td>
                    @Html.DropDownList("IDTipoRotabile", new SelectList((SelectList)ViewData["ElencoTipoRotabile"], "Value", "Text", ViewBag.aIDTipoRotabile), "-- Seleziona tipo rotabile --", new { @class = "form-control selectpicker data-live-search=true" })

                </td>
            </tr>
        }
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Condizione")

            </td>
            @if (item1[0].IDCasa.ToUpper() != "RTB")
            {
                <td>
                    Nuovo:   @Html.RadioButton("Condizione", "N")
                    Usato: @Html.RadioButton("Condizione", "U")
                </td>
            }
            else
            {
                <td>
                    Nuovo:   @Html.RadioButton("Condizione", "N", new { disabled = "disabled" })
                    Usato: @Html.RadioButton("Condizione", "U", new { disabled = "disabled" })
                </td>
            }
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>

        <tr>
            <td>
                @Html.Label("Telaio danneggiato")

            </td>
            <td>
                @Html.CheckBox("isDamaged", false)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Note:")

            </td>
            <td>
                @Html.TextArea("Annotazioni")

            </td>

</table>



        @*@Html.Label("Inspection date")<text>&nbsp;</text> @Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"), new { @readonly = "readonly", style = "background:lightgrey" });
            <br />
            @Html.Label("Chassis") <text>&nbsp;</text> @Html.TextBox("Chassis", "", new { onkeyup = "InputToUpper(this);" }); <text>&nbsp;</text>*@
        <br />

        <div>
            <button type="submit" class="btn btn-success custom">Conferma</button>
        </div>
    }
</div>

<br />

<div>
    @Html.ActionLink("Esci", "Index", null, new { @class = "btn btn-danger custom" })
</div>

<script>
    function InputToUpper(obj) {
        if (obj.value != "") {
            obj.value = obj.value.toUpperCase();
        }
    }
</script>


<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>