@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "Dati Perizia";
    Layout = "~/Views/Shared/_Layout_NO_ACTION.cshtml";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<style>
    table, td, th {
        border: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 20px;
    }
</style>

@{ string msg = "";
    try
    {
        msg = TempData["Alert"].ToString();

    }
    catch
    {
        msg = "";
    }
}


@{var item1 = Model.AGR_SpedizioniWEB_Decoded_vw.ToList();}
@{var item2 = Model.AGR_TipiPerizia.ToList();}
@{var item3 = Model.AGR_Meteo.ToList();}
@{var item4 = Model.AGR_Perizie_MVC_Flat_vw.ToList();}
<!-- #region Details -->
@*<details>
        <summary style="color:navy">Info generali su spedizione...</summary>
        <div class="jumbotron">

            <div>



                <table>
                    <tr>
                        <td>
                            @Html.Label("Spedizione : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].ID)
                        </td>
                        <td>&nbsp;&nbsp;</td>


                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Viaggio : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].IDOriginale1)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Del : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("POL : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].IDPortoImbarco + " -" + item1[0].POL)
                        </td>
                    </tr>
                    <tr>

                        <td>
                            @Html.Label("POD : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].IDPortoSbarco + " -" + item1[0].POD)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Nave : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].IDNave + " -" + item1[0].Nave)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Casa costruttrice : ")
                        </td>
                        <td>
                            @Html.Label(item1[0].IDCasa + " -" + item1[0].Casa)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Tipo perizia : ")
                        </td>
                        <td>
                            @Html.Label(item2[0].ID + " - " + item2[0].DescrITA)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Meteo : ")
                        </td>
                        <td>
                            @Html.Label(item3[0].ID + " - " + item3[0].DescrITA)
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </details>*@
<!-- #endregion -->
@*<br />*@
@if (ViewBag.ErrMess == "Sbloccato")
{
    <div style="color:green;font-size:18px;text-align:center">
        <b>
            Controllo OK !
        </b>
    </div>
}
else if (ViewBag.ErrMess == "TARGA CONOSCIUTA")
{
    <div style="color:blue">
        @ViewBag.ErrMess
    </div>
}
else
{
    <div style="color:red;font-size:18px;text-align:center">
        <b> @ViewBag.ErrMess</b>
    </div>
}

    <div>
        @using (Html.BeginForm("SalvaPeriziaTesta", "TelaiAnagrafica", new
        {
            IDPerito = item4[0].IDPerito,
            IDSpedizione = item4[0].IDSpedizione,
            IDMeteo = @item3[0].ID,
            IDTP = item2[0].ID,
            myIDPerizia = item4[0].ID,
            IsUpdate = ViewBag.IsUpdate
        }, FormMethod.Post, new { ID = "SalvaPeriziaTesta" }))
        {


            <table style="background-color:#E8E8E8">
                <tr>
                    <td>
                        @Html.Label("Viaggio")
                    </td>
                    <td>
                        @Html.DropDownList("IDSpedizione", new SelectList((SelectList)ViewData["ElencoSpedizioni"], "Value", "Text", ViewBag.IDSpedizione), "-- Seleziona spedizione --", new { @class = "form-control selectpicker dropupAuto = false data-live-search=true data-size=5", @disabled = "disabled", @onchange = "submitform();" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Data perizia")
                    </td>
                    <td>
                        @*@Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"))*@
                        @if (Session["OS"].ToString() == "ANDROID")
                        {
                            @Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"), new { @id = "DataPerizia", @readonly = "readonly", style = "background:lightgrey" })
                        }
                        else
                        {
                            @Html.TextBox("DataPerizia", @Convert.ToDateTime(item4[0].DataPerizia).ToString("dd/MM/yyyy"), new { @id = "DataPerizia", style = "background:lightgrey" })
                            @*@Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"), new { @readonly = "readonly", style = "background:lightgrey" })*@

                        }
                        @*&nbsp; <b style=" color:red">(dd/mm/yyyy)</b>*@

                    </td>
                </tr>
                @*<tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>*@
                <tr>
                    <td>
                        @Html.Label("Telaio")
                    </td>
                    <td>
                        @Html.TextBox("Chassis", item4[0].Telaio, new { @id = "Telaio", @onkeyup = "InputToUpper(this);", @autocomplete = "off" })
                    </td>
                </tr>
                @*<tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>*@
                <tr>
                    <td>
                        @if (Session["Classe"].ToString() == "0")
                        {
                            if (ViewBag.IsTrasportatore)
                            {
                                @Html.Label("Trasportatore")
                            }
                            else
                            {
                                @Html.Label("Modello")
                            }
                        }
                        else
                        {
                            @Html.Label("Marca")
                        }
                    </td>
                    <td>
                        @if (ViewBag.IsTrasportatore)
                        {
                            @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona trasportatore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })

                        }
                        @*else if (Session["Classe"].ToString() == "1")
                        {
                            @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", null), "-- Seleziona valore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })
                        }*@
                        else
                        {
                            @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona valore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })

                        }
                        @*@Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona valore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })*@
                        @if (item1[0].IDCasa.ToUpper() == "CAB" && ((ViewBag.aIDModelloCasa != "1240" && ViewBag.aIDModelloCasa == "1241") || String.IsNullOrEmpty(ViewBag.aIDModelloCasa)))

                        {
                            <div style="font-size:smaller">Solo trasportatori in uso !  @Html.CheckBox("Filtrati", true, new { @onchange = "this.form.submit();" })</div>
                        }
                    </td>
                </tr>
                <tr></tr>
                @if (item1[0].IDCasa.ToUpper() == "RTB" || (item4[0].IDModello.ToString() == "1240" && ViewBag.aIDModelloCasa == "") || ViewBag.aIDModelloCasa == "1240" || ViewBag.aIDModelloCasa == "1241")
                {
                    <tr>
                        <td>
                            @Html.Label("Trasportatore")

                        </td>
                        <td>
                            @Html.DropDownList("IDTrasportatoreGrim", new SelectList((SelectList)ViewData["ElencoTraspGrim"], "Value", "Text", ViewBag.aIDTrasportatore), "-- Seleziona trasportatore --", new { @class = "form-control selectpicker data-live-search=true", @onchange = "submitform();" })
                        </td>
                    </tr>
                    @*<tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>*@
                    <tr>
                        <td>
                            @Html.Label("Semirimorchio")

                        </td>
                        <td>
                            @Html.DropDownList("IDTipoRotabile", new SelectList((SelectList)ViewData["ElencoTipoRotabile"], "Value", "Text", ViewBag.aIDTipoRotabile), "-- Seleziona tipo semirimorchio --", new { @class = "form-control selectpicker data-live-search=true ", @onchange = "submitform();" })

                        </td>
                    </tr>
                }
                @*<tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>*@

                <tr>
                    <td>
                        @Html.Label("Condizione")

                    </td>
                    @if (item1[0].IDCasa.ToUpper() == "YYY" || item1[0].IDCasa.ToUpper() == "KKK")
                    {
                        <td>
                            Nuovo:   @Html.RadioButton("Condizione", "N", new { @checked = true, @onchange = "submitform();" })
                            Usato: @Html.RadioButton("Condizione", "U", new { disabled = "disabled" })
                            @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                        </td>
                    }
                    else if (item1[0].IDCasa.ToUpper() != "RTB" && (item4[0].IDModello.ToString() != "1240") || (item4[0].IDModello.ToString() == "1240" && ViewBag.aIDModelloCasa != "1240"))
                    {
                        if (item4[0].FlgNuovoUsato == "N" || ViewBag.flagNU == "N")
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N", new { @checked = true, @onchange = "submitform();" })
                                Usato: @Html.RadioButton("Condizione", "U", new { @onchange = "submitform();" }) @*Aggiunto*@
                                @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                            </td>
                        }
                        else if (item4[0].FlgNuovoUsato == "U" || ViewBag.flagNU == "U")
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N", new { @onchange = "submitform();" }) @*Aggiunto*@
                                Usato: @Html.RadioButton("Condizione", "U", new { @checked = true, @onchange = "submitform();" })
                                @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                            </td>
                        }
                        else if (ViewBag.aIDModelloCasa != "1240" && ViewBag.aIDModelloCasa != "1241")
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N", new { @onchange = "submitform();" })
                                Usato: @Html.RadioButton("Condizione", "U", new { @onchange = "submitform();" })
                                @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                            </td>
                        }
                    }
                    else
                    {
                        if (ViewBag.aIDModelloCasa != "1240" && ViewBag.aIDModelloCasa != "1241")
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N", new { disabled = "disabled" })
                                Usato: @Html.RadioButton("Condizione", "U", new { disabled = "disabled" })
                            </td>
                        }
                    }
                </tr>
                <tr>
                    <td>
                        <b style="color:steelblue">Meteo :</b> @Html.Label(item3[0].ID + " - " + item3[0].DescrITA, new { @style = "color:steelblue" })
                    </td>
                    <td>
                        <b style="color:steelblue">TP :</b>  @Html.Label(item2[0].ID + " - " + item2[0].DescrITA, new { @style = "color:steelblue" })
                    </td>
                </tr>

                <tr>
                    <td>

                        @Html.Label("DMG") &nbsp
                        @if (ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "In fase modifica" || ViewBag.ErrMess == "In modifica" || ViewBag.ErrMess == "TARGA CONOSCIUTA")
                        {
                            @Html.CheckBox("isDamaged", false, new { @onchange = "submitform();" })

                            if (Session["RTB"].ToString().ToUpper() == "TRUE" || ViewBag.aIDModelloCasa == "1240" || ViewBag.aIDModelloCasa == "1241")
                            {

                            <td>
                                @Html.Label("DMG Rapido")
                                @Html.CheckBox("isRapid", false, new { @onchange = "submitform();" })
                            </td>
                        }


                    }
                    else
                    {
                        @*@Html.CheckBox("isDamaged", false, new { disabled = "disabled" })*@
                        @Html.CheckBox("isDamaged", false, new { @onchange = "submitform();" })
                        if (Session["RTB"].ToString().ToUpper() == "TRUE")
                        {
                            <td>
                                @Html.Label("Rapido")
                                @Html.CheckBox("isRapid", false, new { @onchange = "submitform();" })
                            </td>
                        }

                    }

                    <tr>


                        @if (@ViewBag.HasDanni == "Perizia GOOD")
                        {
                            <td style="color:green; font-weight:bold;">
                                @ViewBag.HasDanni
                            </td>

                        }
                        else
                        {
                            <td style="color:red; font-weight:bold;">
                                @ViewBag.HasDanni
                            </td>
                        }

                        @if (!String.IsNullOrEmpty(ViewBag.Standby))
                        {
                            <td style="color:red; font-weight:bold;">
                                Attenzione : Perizia in standby !
                            </td>
                            <td>
                                @Html.Label("Rimuovi standby")
                                @Html.CheckBox("ChangeStandBy", false, new { @onchange = "submitform();" })
                            </td>

                        }
                    </tr>


                </table>


                <br />
                <div>
                    <table width="50%">
                        <tr>
                            <td>
                                @Html.ActionLink("Inserisci foto", "ScattaFoto", "Documenti", new
                            {
                                myIDPerizia = item4[0].ID,
                                IDPerito = ViewBag.IDPerito,
                                IDSpedizione = ViewBag.IDSpedizione,
                                IDMeteo = ViewBag.IDMeteo,
                                IDTP = ViewBag.IDTP,
                                aIDTrasportatore = ViewBag.aIDTrasportatore,
                                aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                aIDModelloCasa = ViewBag.aIDModelloCasa,
                                ErrMess = ViewBag.ErrMess,
                                IsUpdate = ViewBag.IsUpdate
                            }, new { @class = "photoImg" }) &nbsp;@ViewBag.NumFoto
                        </td>

                        <td>
                            @Html.ActionLink("Inserisci PDF", "ScattaPDF", "Documenti", new
                       {
                           myIDPerizia = item4[0].ID,
                           IDPerito = ViewBag.IDPerito,
                           IDSpedizione = ViewBag.IDSpedizione,
                           IDMeteo = ViewBag.IDMeteo,
                           IDTP = ViewBag.IDTP,
                           aIDTrasportatore = ViewBag.aIDTrasportatore,
                           aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                           aIDModelloCasa = ViewBag.aIDModelloCasa,
                           ErrMess = ViewBag.ErrMess,
                           IsUpdate = ViewBag.IsUpdate
                       }, new { @class = "pdfImg" }) &nbsp;@ViewBag.NumPDF
                </td>
            </tr>


        </table>

    </div>
    <div>
        <br />
    </div>
    <div>
        @*<button type="submit" class="btn btn-primary custom" id="miocmd">Salva modifiche</button> &nbsp;&nbsp;&nbsp;*@

        @if (ViewBag.IsUpdate == true)
        {
            if (Session["Classe"].ToString() == "0")
            {
                //if (ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "TARGA CONOSCIUTA" ||
                //    (ViewBag.ErrMess == "In fase modifica" && (ViewBag.aIDTrasportatore != "0" && ViewBag.aIDModelloCasa != "219")))
                if (ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "TARGA CONOSCIUTA")
                {
                    <div id="TastoNote" style="display:none;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:block;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>

                }

                // SEZIONE AUTO....
                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && ViewBag.aIDModelloCasa == "219" && String.IsNullOrEmpty(item4[0].Note)))
                {

                    <div id="TastoNote" style="display:block;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:none;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>


                }
                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && ViewBag.aIDModelloCasa == "219" && !String.IsNullOrEmpty(item4[0].Note)))
                {
                    <div id="TastoNote" style="display:none;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:block;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>
                }


                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && ViewBag.aIDModelloCasa != "219 " & String.IsNullOrEmpty(ViewBag.aIDTrasportatore)))
                {
                    <div id="TastoNote" style="display:none;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:block;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>
                }

                // SEZIONE SEMIRIMORCHI....

                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && ViewBag.aIDTrasportatore == "0" && String.IsNullOrEmpty(item4[0].Note)))
                {

                    <div id="TastoNote" style="display:block;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:none;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>


                }
                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && ViewBag.aIDTrasportatore == "0" && !String.IsNullOrEmpty(item4[0].Note)))
                {
                    <div id="TastoNote" style="display:none;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:block;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>
                }

                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && (ViewBag.aIDTrasportatore != "0" && !String.IsNullOrEmpty(ViewBag.aIDTrasportatore))))
                {
                    <div id="TastoNote" style="display:none;">
                        <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                    </div>
                    <div id="TastoSalva" style="display:block;">
                        @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom " })
                    </div>
                }


                // END



                else if (ViewBag.ErrMess == "Note obbligatorie " || (ViewBag.ErrMess == "In fase modifica" && ViewBag.aIDTrasportatore == "0" && String.IsNullOrEmpty(item4[0].Note)))
                {
                    <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                }

                else if (ViewBag.DoRefresh == true)
                {
                    @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom disabled" })
                    <script>submitform();</script>
                }
                else if (ViewBag.ErrMess == "Modello obbligatorio")
                {
                    @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom  disabled" })
                }

                else if (ViewBag.ErrMess == " ")
                {
                    @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom  " })
                }
                else if (ViewBag.ErrMess == "Data errata :  non deve essere minore della data partenza !")
                {
                    @Html.ActionLink("Salva e Chiudi perizia (data non modificata!)", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom  " })
                }
                else if (ViewBag.ErrMess == "Data errata :  non deve superare data partenza !")
                {
                    @Html.ActionLink("Salva e Chiudi perizia (data non modificata!)", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom  " })
                }

                else
                {
                    @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, ViewBag.TipoMezzo }, new { @class = "btn btn-success custom  disabled" })
                }
            }
            else if (Session["Classe"].ToString() == "1")
            {
                @Html.ActionLink("Salva e Chiudi perizia", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP, IDPerizia = item4[0].ID }, new { @class = "btn btn-success custom " })
            }

        }

        else
        {
            //
            //if ((ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "In modifica" || ViewBag.ErrMess == "TARGA CONOSCIUTA") && Session["Classe"].ToString() == "0")
            if ((ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "TARGA CONOSCIUTA") && Session["Classe"].ToString() == "0")
            {

                if (ViewBag.OldIDSpedizione == "")
                {
                    if (@ViewBag.HasDanni == "Perizia GOOD" && item4[0].IDTipoPerizia == "D")
                    {
                        <div id="TastoNote" style="display:none;">
                            <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                        </div>
                        <div id="TastoSalva" style="display:block;">
                            @Html.ActionLink("Salva e Chiudi perizia", "SalvaPeriziaTesta", "TelaiAnagrafica", new
                               {


                                   Chassis = item4[0].Telaio,
                                   IDModelloCasa = item4[0].IDModello,
                                   IDTrasportatoreGrim = item4[0].ID_TrasportatoreGrimaldi,
                                   IDTipoRotabile = item4[0].ID_TipoRotabile,
                                   IsUpdate = ViewBag.IsUpdate,
                                   IDPerito = item4[0].IDPerito,
                                   IDSpedizione = item4[0].IDSpedizione,
                                   IDMeteo = @item3[0].ID,
                                   IDTP = item2[0].ID,
                                   myIDPerizia = item4[0].ID,
                                   Condizione = item4[0].FlgNuovoUsato,
                                   DataPerizia = @Convert.ToDateTime(item4[0].DataPerizia).ToString("dd/MM/yyyy")
                               }, new { @class = "btn btn-success custom", onclick = "alert('La perizia è Post discharge e non contiene ITEM danno , operazione annullata');" })
                        </div>

                    }

                    else if (@ViewBag.HasDanni == "Perizia GOOD" && ViewBag.NumFoto.ToString() != "0")
                    {
                        <div id="TastoNote" style="display:none;">
                            <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                        </div>
                        <div id="TastoSalva" style="display:block;">
                            @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                            {
                                IDPerito = ViewBag.IDPerito,
                                IDSpedizione = ViewBag.IDSpedizione,
                                IDMeteo = ViewBag.IDMeteo,
                                IDTP = ViewBag.IDTP,
                                IsUpdate = ViewBag.IsUpdate,
                                aIDModello = ViewBag.aIDModelloCasa,
                                IsRTB = Session["RTB"]
                             }, new { @class = "btn btn-success custom", onclick = "return confirm('La perizia è GOOD, ma contiene foto, sei sicuro di voler proseguire ?');" })
                        </div>

                    }
                    else if (@ViewBag.HasDanni == "Perizia con danni" && (ViewBag.NumFoto.ToString() == "0" || ViewBag.NumFoto.ToString() == "1"))
                    {
                        <div id="TastoNote" style="display:none;">
                            <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                        </div>
                        <div id="TastoSalva" style="display:block;">
                            @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                          {
                              IDPerito = ViewBag.IDPerito,
                              IDSpedizione = ViewBag.IDSpedizione,
                              IDMeteo = ViewBag.IDMeteo,
                              IDTP = ViewBag.IDTP,
                              IsUpdate = ViewBag.IsUpdate,
                              aIDModello = ViewBag.aIDModelloCasa,
                              IsRTB = Session["RTB"]
                          }, new { @class = "btn btn-success custom", onclick = "return confirm('La perizia è DMG, ma contiene meno di 2 foto, sei sicuro di voler proseguire ?');" })
                        </div>

                    }
                    else
                    {


                        <div id="TastoNote" style="display:none;">
                            <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                        </div>
                        <div id="TastoSalva" style="display:block;">
                            @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                           {
                               IDPerito = ViewBag.IDPerito,
                               IDSpedizione = ViewBag.IDSpedizione,
                               IDMeteo = ViewBag.IDMeteo,
                               IDTP = ViewBag.IDTP,
                               IsUpdate = ViewBag.IsUpdate,
                               aIDModello = ViewBag.aIDModelloCasa,
                               IsRTB = Session["RTB"]
                           }, new { @class = "btn btn-success custom" })
                        </div>
                    }
                }
                else
                {
                    @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                       {
                           IDPerito = ViewBag.IDPerito,
                           IDSpedizione = ViewBag.OldIDSpedizione,
                           IDMeteo = ViewBag.IDMeteo,
                           IDTP = ViewBag.IDTP,
                           IsUpdate = ViewBag.IsUpdate,
                           aIDModello = ViewBag.aIDModelloCasa,
                           IsRTB = Session["RTB"]
                       }, new { @class = "btn btn-success custom" })

                    @*@Html.ActionLink("SalvaPeriziaEChiudi", "SalvaPeriziaEChiudi", new { IDPerizia = item4[0].ID, DataPerizia = item4[0].DataPerizia, Chassis = item4[0].Telaio }, new { @class = "btn btn-success custom" });*@
                }
            }

            //
            else if ((ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "TARGA CONOSCIUTA") && Session["Classe"].ToString() == "1")
            {

                <div id="TastoNote" style="display:none;">
                    <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                </div>
                <div id="TastoSalva" style="display:block;">
                    @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
               {
                   IDPerito = ViewBag.IDPerito,
                   IDSpedizione = ViewBag.IDSpedizione,
                   IDMeteo = ViewBag.IDMeteo,
                   IDTP = ViewBag.IDTP,
                   IsUpdate = ViewBag.IsUpdate,
                   aIDModello = ViewBag.aIDModelloCasa,
                   IsRTB = Session["RTB"]
               }, new { @class = "btn btn-success custom" })
                </div>
            }
            else if (Session["Classe"].ToString() == "1")
            {
                <div id="TastoNote" style="display:none;">
                    <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                </div>
                <div id="TastoSalva" style="display:block;">
                    @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
               {
                   IDPerito = ViewBag.IDPerito,
                   IDSpedizione = ViewBag.IDSpedizione,
                   IDMeteo = ViewBag.IDMeteo,
                   IDTP = ViewBag.IDTP,
                   Chassis = item4[0].Telaio,
                   aIDModello = ViewBag.aIDModelloCasa,
                   IsRTB = Session["RTB"]
               }, new { @class = "btn btn-success custom disabled " })
                </div>

            }

            else if (ViewBag.ErrMess == "In modifica")
            {

                <div id="TastoNote" style="display:none;">
                    <input class="btn btn-warning" type="button" value="Salva note" onClick="javascript: VerificaNote();" />
                </div>
                <div id="TastoSalva" style="display:block;">
                    @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                   {
                       IDPerito = ViewBag.IDPerito,
                       IDSpedizione = ViewBag.IDSpedizione,
                       IDMeteo = ViewBag.IDMeteo,
                       IDTP = ViewBag.IDTP,
                       aIDModello = ViewBag.aIDModelloCasa,
                       IsRTB = Session["RTB"]
                   }, new { @class = "btn btn-success custom" })
                </div>

            }
            else if (ViewBag.ErrMess == "Note obbligatorie ")
            {
                <input class="btn btn-warning" type="button" value="Verifica presenza note" onClick="javascript: VerificaNote();" />
                @*@Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                {
                    IDPerito = ViewBag.IDPerito,
                    IDSpedizione = ViewBag.IDSpedizione,
                    IDMeteo = ViewBag.IDMeteo,
                    IDTP = ViewBag.IDTP,
                    aIDModello = ViewBag.aIDModelloCasa,
                    IsRTB = Session["RTB"]
                }, new { @class = "btn btn-success custom", @onclick = "javascript: validator(); return false;" })*@
            }
            else if (ViewBag.ErrMess == "Data errata :  non deve essere minore della data partenza !")
            {
                @Html.ActionLink("Salva e Chiudi perizia (data non modificata!)", "InputTelaio", new
               {
                   IDPerito = ViewBag.IDPerito,
                   IDSpedizione = ViewBag.IDSpedizione,
                   IDMeteo = ViewBag.IDMeteo,
                   IDTP = ViewBag.IDTP,
                   Chassis = item4[0].Telaio,
                   aIDModello = ViewBag.aIDModelloCasa,
                   IsRTB = Session["RTB"]
               }, new { @class = "btn btn-success custom  " })
            }

            else if (ViewBag.ErrMess == "Data errata :  non deve superare data partenza !")
            {
                @Html.ActionLink("Salva e Chiudi perizia (data non modificata!)", "InputTelaio", new
               {
                   IDPerito = ViewBag.IDPerito,
                   IDSpedizione = ViewBag.IDSpedizione,
                   IDMeteo = ViewBag.IDMeteo,
                   IDTP = ViewBag.IDTP,
                   Chassis = item4[0].Telaio,
                   aIDModello = ViewBag.aIDModelloCasa,
                   IsRTB = Session["RTB"]
               }, new { @class = "btn btn-success custom  " })
            }




            else
            {


                @Html.ActionLink("Salva e Chiudi perizia", "InputTelaio", new
                {
                    IDPerito = ViewBag.IDPerito,
                    IDSpedizione = ViewBag.IDSpedizione,
                    IDMeteo = ViewBag.IDMeteo,
                    IDTP = ViewBag.IDTP,
                    aIDModello = ViewBag.aIDModelloCasa,
                    IsRTB = Session["RTB"]
                }, new { @class = "btn btn-success custom disabled" })

                @*@Html.ActionLink("SalvaPeriziaEChiudi", "SalvaPeriziaEChiudi", new { IDPerizia = item4[0].ID, DataPerizia = item4[0].DataPerizia, Chassis = item4[0].Telaio }, new { @class = "btn btn-success custom" });*@

            }
        }
        &nbsp;&nbsp;&nbsp;
        <br />
        @Html.ActionLink("Elimina", "EliminaPerizia", "TelaiAnagrafica", new
    {
       IDPerizia = item4[0].ID,
       IDPerito = ViewBag.IDPerito,
       IDSpedizione = ViewBag.IDSpedizione,
       IDMeteo = ViewBag.IDMeteo,
       IDTP = ViewBag.IDTP,
       IsUpdate = ViewBag.IsUpdate,
       ViewBag.TipoMezzo
    }, new { @class = "btn btn-danger custom" , onclick = "return confirm('Vuoi davvero cancellare la perizia ?');" })


    </div>
    <br />
    @Html.Label("Note:")
    @Html.TextArea("Annotazioni", item4[0].Note, new { @onpaste = "handlePaste(event)" })
    <br />
    <input type="checkbox" id="pippo" name="chklistnd" onclick="writeText('@item4[0].Note')">
    <label for="chklistnd">Check list N.D.</label><br>



}
    </div>




@if (@ViewBag.HasDanni != "Perizia GOOD")
{
    <div style="background-color:lightgray">
        Lista danni
    </div>
    if (Session["Classe"].ToString() == "0")
    {
        <table id="Report" class="display" style="width:100%;font-size:11px">
            <thead>
                @if (Session["Lang"].ToString() == "ITA")
                {
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Parte</th>
                        <th>Danno</th>

                        <th>Gravità</th>
                    </tr>
                }
                else if (Session["Lang"].ToString() == "ESP")
                {
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>COMPONENTE DAÑO</th>
                        <th>Tipo daño</th>

                        <th>Gravedad</th>
                    </tr>
                }
                else if (Session["Lang"].ToString() == "FRA")
                {
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Composant de voiture</th>
                        <th>type de dommage</th>

                        <th>Gravité</th>
                    </tr>
                }
                else if (Session["Lang"].ToString() == "ENG")
                {
                    <tr>
                        <th style="display:none;">ID</th>
                        <th>Component</th>
                        <th>Damage</th>

                        <th>Damage measure</th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (Session["Lang"].ToString() == "ITA")
                {
                    foreach (var item in Model.AGR_PERIZIE_DETT_TEMP_MVC_vw)
                    {
                        <tr>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Parte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Danno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gravita)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                }
                else if (Session["Lang"].ToString() == "ESP")
                {
                    foreach (var item in Model.AGR_PERIZIE_DETT_TEMP_MVC_vw)
                    {
                        <tr>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParteESP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DannoESP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GravitaESP)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                }
                else if (Session["Lang"].ToString() == "FRA")
                {
                    foreach (var item in Model.AGR_PERIZIE_DETT_TEMP_MVC_vw)
                    {
                        <tr>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParteFRA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DannoFRA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GravitaFRA)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                }
                else if (Session["Lang"].ToString() == "ENG")
                {
                    foreach (var item in Model.AGR_PERIZIE_DETT_TEMP_MVC_vw)
                    {
                        <tr>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParteENG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DannoENG)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GravitaENG)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>
                    }
                }

<tbody>
        </table>
                }
                else if (Session["Classe"].ToString() == "1")
                {
        <table id="Report" class="display" style="width:100%;font-size:11px">
            <thead>
                <tr>
                    <th style="display:none;">ID</th>
                    <th>Parte</th>
                    <th>Danno</th>

                    <th>Gravità</th>
                    @*<th>Cancella</th>*@
                    @*<th>Responsabilità</th>
                        <th>Attribuzione</th>*@
                    @*<th>Qta</th>*@
                    @*<th>Note</th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AGR_PERIZIE_DETT_TEMP_MVC_SDU_vw)
                {
                    <tr>
                        <td style="display:none">
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Parte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Danno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gravita)
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "EditDettaglio", new {  aIDDett = item.ID, aIDPerizia = item.IDPerizia }, new { @class = "btn btn-primary btn-xs disabled" })
                            </td>*@
                        @*<td>
                                @Html.ActionLink("Canc", "DeleteDettaglio", new { aIDDett = item.ID, myIDPerizia = item.IDPerizia, IsUpdate = ViewBag.IsUpdate }, new { @class = "btn btn-danger btn-xs", onclick = "return confirm('Confermi cancellazione ?');" })
                            </td>*@
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>


                    @*<td>

                            @Html.DisplayFor(modelItem => item.Qta)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>*@

                    @*<td>
                            @Html.DisplayFor(modelItem => item.IDResponsabilita)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDAttribuzione)
                        </td>*@
                    </tr>
                }

            <tbody>
        </table>
    }
}

<div>
    @*@Html.ActionLink("Esci", "Index", null, new { @class = "btn btn-danger custom" })*@
</div>
<!-- #region Details -->
<br />
<details>
    <summary style="color:navy">Info generali su spedizione...</summary>
    <div class="jumbotron">

        <div>



            <table>
                <tr>
                    <td>
                        @Html.Label("Spedizione : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].ID)
                    </td>
                    <td>&nbsp;&nbsp;</td>


                </tr>
                <tr>
                    <td>
                        @Html.Label("Viaggio : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDOriginale1)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.Label("Del : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("POL : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDPortoImbarco + " -" + item1[0].POL)
                    </td>
                </tr>
                <tr>

                    <td>
                        @Html.Label("POD : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDPortoSbarco + " -" + item1[0].POD)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Nave : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDNave + " -" + item1[0].Nave)
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.Label("Casa costruttrice : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDCasa + " -" + item1[0].Casa)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Tipo perizia : ")
                    </td>
                    <td>
                        @Html.Label(item2[0].ID + " - " + item2[0].DescrITA)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Meteo : ")
                    </td>
                    <td>
                        @Html.Label(item3[0].ID + " - " + item3[0].DescrITA)
                    </td>
                </tr>
            </table>

        </div>
    </div>
</details>
<!-- #endregion -->

<script>
    $(document).ready(function () {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function (evt) { if (evt.persisted) disableBack() }
    });
</script>

<script>
    function tryMe(arg) {
        document.write(arg);
    }
</script>
<script>
    function InputToUpper(obj) {
        if (obj.value != "") {
            obj.value = obj.value.toUpperCase();
        }
    }
</script>



<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>
<script>
    function submitform() {
        $('form').submit();
    }
</script>

<script>
    $('.selectpicker').selectpicker({
        dropupAuto: false,
        showSubtext: true,
        liveSearch: true

    });
</script>
<script>
    function checkTextField() {

        submitform();
    }


</script>
<script>
    window.onhashchange = function () {
        if (window.innerDocClick) {
            window.innerDocClick = false;
        } else {
            if (window.location.hash != '#undefined') {
                goBack();
            } else {
                history.pushState("", document.title, window.location.pathname);
                location.reload();
            }
        }
    }
</script>
<script>
    $(function () {
        var $id = $('#Telaio');
        $id.keyup(function (e) {
            $(this.form).submit();

        });
    });
</script>
<script>
    $(function () {
        var $id = $('#Telaio');
        $id.keyup(function (e) {
            if ($id.val().length > 0)
                $(this.form).submit();
            else {
                alert('Lunghezza telaio insufficiente');
                return (false);
            }

        });
    });
</script>

@*<script>
        $(function () {
            var $id = $('#Annotazioni');
            $id.keyup(function (e) {
                $(this.form).submit();

            });
        });
    </script>*@

<script>
    $(function () {
        var $id = $('#DataPerizia');
        $id.keyup(function (e) {
            if ($id.val().length == 10)
                $(this.form).submit();

        });
    });
</script>

<script>
    $(document).ready(function () {
        var jmsg = '@msg';

        if (jmsg != "" && jmsg != null) {
            jmsg = "Telaio gi\u00E0 visionato ! \nperizia aperta in modifica.";
            alert(jmsg);
        }
    });
</script>


<script type="text/javascript">

    function VerificaNote() {
        //alert('Pippo');
        var Annotazioni = document.getElementById('Annotazioni').value;
        var IDTrasportatoreGrim;
        var IDModelloCasa;
        try {

            IDTrasportatoreGrim = document.getElementById('IDTrasportatoreGrim').value;
        }
        catch{ IDTrasportatoreGrim = "" }

        try {
            IDModelloCasa = document.getElementById('IDModelloCasa').value;
        }
        catch{ IDModelloCasa = "" }



        if (Annotazioni == "" && IDTrasportatoreGrim == "0") {
            alert("Note obbligatorie !!!");
            document.frm.Annotazioni.focus();
            return (false);
        }

        else if (Annotazioni == "" && IDModelloCasa == "219") {
            alert("Note obbligatorie !!!");
            document.frm.Annotazioni.focus();
            return (false);
        }

        else {
            document.getElementById("SalvaPeriziaTesta").submit();

        }

    }
</script>

<script>
    $(function () {
        var $id = $('#Annotazioni');
        $id.keyup(function (e) {
            //alert('Eccolo')
            var x = document.getElementById("TastoNote");
            var y = document.getElementById("TastoSalva");



            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";

            }



        });
    });
</script>
<script>
    function handlePaste(event) {
        //alert("Text pasted: " + event.clipboardData.getData("text"));
        AttivaIncolla();

    }
    function handleCopy(event) {
        alert("Text has been copied!");

    }
    function handleCut(event) {
        alert("Text has been copied!");
    }

    function AttivaIncolla() {
        var x = document.getElementById("TastoNote");
        var y = document.getElementById("TastoSalva");



        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";

        }
    }
</script>
<script type="text/javascript">
    function writeText(testo) {
       
        var checkBox = document.getElementById("pippo");
        var text = document.getElementById("Annotazioni");
        var x = document.getElementById("TastoNote");
        var y = document.getElementById("TastoSalva");

        const myvalue = text.value;
        if (checkBox.checked == true) {
            if (text.value == "")
                text.value += "Check list non disponibile.";
            else {
                text.value += " Check list non disponibile.";
            }
            x.style.display = "block";
            y.style.display = "none";

        } else {
            text.value = testo;
            x.style.display = "none";
            y.style.display = "block";
        }

    }

</script>
