@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "Dati Perizia";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<style>
    table, td, th {
        border: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 20px;
    }
</style>

<details>
    <summary style="color:navy">Info generali su spedizione...</summary>
    <div class="jumbotron">

        <div>
            @{var item1 = Model.AGR_SpedizioniWEB_Decoded_vw.ToList();}
            @{var item2 = Model.AGR_TipiPerizia.ToList();}
            @{var item3 = Model.AGR_Meteo.ToList();}
            @{var item4 = Model.AGR_Perizie_MVC_Flat_vw.ToList();}

            @*@Html.Label("Spedizione :") &nbsp;  @Html.Label(item1[0].ID)*@
            <table>
                <tr>
                    <td>
                        @Html.Label("Spedizione : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].ID)
                    </td>
                    <td>&nbsp;&nbsp;</td>


                </tr>
                <tr>
                    <td>
                        @Html.Label("Viaggio : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDOriginale1)
                    </td>
                    @*<td>&nbsp;&nbsp;</td>*@
                </tr>
                <tr>
                    <td>
                        @Html.Label("Del : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("POL : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDPortoImbarco + " -" + item1[0].POL)
                    </td>
                </tr>
                <tr>

                    <td>
                        @Html.Label("POD : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDPortoSbarco + " -" + item1[0].POD)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Nave : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDNave + " -" + item1[0].Nave)
                    </td>
                    @*<td>&nbsp;&nbsp;</td>*@
                </tr>
                <tr>
                    <td>
                        @Html.Label("Casa costruttrice : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].IDCasa + " -" + item1[0].Casa)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Tipo perizia : ")
                    </td>
                    <td>
                        @Html.Label(item2[0].ID + " - " + item2[0].DescrITA)
                    </td>
                </tr>
            </table>

        </div>
    </div>
</details>
<br />
@if (ViewBag.ErrMess == "Sbloccato")
{
    <div style="color:green">
        Controllo OK !
    </div>
}
else if (ViewBag.ErrMess == "TARGA CONOSCIUTA")
{
    <div style="color:blue">
        @ViewBag.ErrMess
    </div>
}
else
{
    <div style="color:red;font-size:20px;text-align:center">
        @ViewBag.ErrMess
    </div>
}

<div>
    @using (Html.BeginForm("SalvaPeriziaTesta", "TelaiAnagrafica", new
    {
        IDPerito = item4[0].IDPerito,
        IDSpedizione = item4[0].IDSpedizione,
        IDMeteo = @item3[0].ID,
        IDTP = item2[0].ID,
        myIDPerizia = item4[0].ID,
        IsUpdate = ViewBag.IsUpdate
    }, FormMethod.Post))
    {


        <table style="background-color:aliceblue">
            <tr>
                <td>
                    @Html.Label("Viaggio")
                </td>
                <td>
                    @Html.DropDownList("IDSpedizione", new SelectList((SelectList)ViewData["ElencoSpedizioni"], "Value", "Text", ViewBag.IDSpedizione), "-- Seleziona spedizione --", new { @class = "form-control selectpicker dropupAuto = false data-live-search=true data-size=5", @onchange = "submitform();" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Inspection date")
                </td>
                <td>
                    @*@Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"))*@
                    @Html.TextBox("DataPerizia", DateTime.Now.ToString("dd/MM/yyyy"), new { @readonly = "readonly", style = "background:lightgrey" })
                </td>
            </tr>
            @*<tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>*@
            <tr>
                <td>
                    @Html.Label("Chassis")
                </td>
                <td>
                    @Html.TextBox("Chassis", item4[0].Telaio, new { onkeyup = "InputToUpper(this);" })
                </td>
            </tr>
            @*<tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>*@
            <tr>
                <td>
                    @if (ViewBag.IsTrasportatore)
                    {
                        @Html.Label("Trasportatore")
                    }
                    else
                    {
                        @Html.Label("Modello")
                    }
                </td>
                <td>
                    @if (ViewBag.IsTrasportatore)
                    {
                        @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona trasportatore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })

                    }
                    @*else if (Session["Classe"].ToString() == "1")
                    {
                        @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", null), "-- Seleziona valore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })
                    }*@
                    else
                    {
                        @Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona valore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })

                    }
                    @*@Html.DropDownList("IDModelloCasa", new SelectList((SelectList)ViewData["ElencoModelli"], "Value", "Text", ViewBag.aIDModelloCasa), "-- Seleziona valore --", new { @class = "form-control selectpicker dropupAuto=false data-live-search=true data-size=5", @onchange = "submitform();" })*@
                    @if (item1[0].IDCasa.ToUpper() == "CAB")
                    {
                        <div style="font-size:smaller">Solo trasportatori in uso !  @Html.CheckBox("Filtrati", true, new { @onchange = "this.form.submit();" })</div>
                    }
                </td>
            </tr>
            <tr></tr>
            @if (item1[0].IDCasa.ToUpper() == "RTB" || (item4[0].IDModello.ToString() == "1240" && ViewBag.aIDModelloCasa == "") || ViewBag.aIDModelloCasa == "1240" || ViewBag.aIDModelloCasa == "1241")
            {
                <tr>
                    <td>
                        @Html.Label("Trasportatore")

                    </td>
                    <td>
                        @Html.DropDownList("IDTrasportatoreGrim", new SelectList((SelectList)ViewData["ElencoTraspGrim"], "Value", "Text", ViewBag.aIDTrasportatore), "-- Seleziona trasportatore --", new { @class = "form-control selectpicker data-live-search=true", @onchange = "submitform();" })
                    </td>
                </tr>
                @*<tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>*@
                <tr>
                    <td>
                        @Html.Label("Rotabile")

                    </td>
                    <td>
                        @Html.DropDownList("IDTipoRotabile", new SelectList((SelectList)ViewData["ElencoTipoRotabile"], "Value", "Text", ViewBag.aIDTipoRotabile), "-- Seleziona tipo rotabile --", new { @class = "form-control selectpicker data-live-search=true ", @onchange = "submitform();" })

                    </td>
                </tr>
            }
            @*<tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>*@

                <tr>
                    <td>
                        @Html.Label("Condizione")

                    </td>
                    @if (item1[0].IDCasa.ToUpper() == "YYY")
                    {
                        <td>
                            Nuovo:   @Html.RadioButton("Condizione", "N", new { @checked = true, @onchange = "submitform();" })
                            Usato: @Html.RadioButton("Condizione", "U", new { disabled = "disabled" })
                            @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                        </td>
                    }
                    else if (item1[0].IDCasa.ToUpper() != "RTB" && (item4[0].IDModello.ToString() != "1240") || (item4[0].IDModello.ToString() == "1240" && ViewBag.aIDModelloCasa != "1240"))
                    {
                        if (item4[0].FlgNuovoUsato == "N")
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N", new { @checked = true, @onchange = "submitform();" })
                                Usato: @Html.RadioButton("Condizione", "U")
                                @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                            </td>
                        }
                        else if (item4[0].FlgNuovoUsato == "U")
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N")
                                Usato: @Html.RadioButton("Condizione", "U", new { @checked = true, @onchange = "submitform();" })
                                @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                            </td>
                        }
                        else
                        {
                            <td>
                                Nuovo:   @Html.RadioButton("Condizione", "N", new { @onchange = "submitform();" })
                                Usato: @Html.RadioButton("Condizione", "U", new { @onchange = "submitform();" })
                                @*@Html.RadioButtonFor(model => item4[0].FlagControllo, "Test", new { @checked = true })*@
                            </td>
                        }
                    }
                    else
                    {
                        <td>
                            Nuovo:   @Html.RadioButton("Condizione", "N", new { disabled = "disabled" })
                            Usato: @Html.RadioButton("Condizione", "U", new { disabled = "disabled" })
                        </td>
                    }
                </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>

            <tr>
                <td>

                    @Html.Label("DMG") &nbsp
                    @if (ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "In fase modifica" || ViewBag.ErrMess == "In modifica")
                    {
                        @Html.CheckBox("isDamaged", false, new { @onchange = "submitform();" })

                        if (Session["RTB"].ToString().ToUpper() == "TRUE" || ViewBag.aIDModelloCasa =="1240" || ViewBag.aIDModelloCasa=="1241")
                        {

                            <td>
                                @Html.Label("DMG Rapido")
                                @Html.CheckBox("isRapid", false, new { @onchange = "submitform();" })
                            </td>
                        }


                    }
                    else
                    {
                        @Html.CheckBox("isDamaged", false, new { disabled = "disabled" })
                        if (Session["RTB"].ToString().ToUpper() == "TRUE")
                        {
                            <td>
                                @Html.Label("Rapido")
                                @Html.CheckBox("isRapid", false, new { @onchange = "submitform();" })
                            </td>
                        }

                    }
                    </td>
            <tr>
                

                    @if (@ViewBag.HasDanni == "Perizia GOOD")
                    {
                    <td style="color:green; font-weight:bold;">
                        @ViewBag.HasDanni
                    </td>

                }
                else
                {
                    <td style="color:red; font-weight:bold;">
                        @ViewBag.HasDanni
                    </td>
                }



        </table>


        <br />
        <div>
            <table width="50%">
                <tr>
                    <td>
                        @Html.ActionLink("Inserisci foto", "ScattaFoto", "Documenti", new
                    {
                        myIDPerizia = item4[0].ID,
                        IDPerito = ViewBag.IDPerito,
                        IDSpedizione = ViewBag.IDSpedizione,
                        IDMeteo = ViewBag.IDMeteo,
                        IDTP = ViewBag.IDTP,
                        aIDTrasportatore = ViewBag.aIDTrasportatore,
                        aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                        aIDModelloCasa = ViewBag.aIDModelloCasa,
                        ErrMess = ViewBag.ErrMess,
                        IsUpdate = ViewBag.IsUpdate
                    }, new { @class = "photoImg" }) &nbsp;@ViewBag.NumFoto
                </td>

                <td>
                    @Html.ActionLink("Inserisci PDF", "ScattaPDF", "Documenti", new
                {
                    myIDPerizia = item4[0].ID,
                    IDPerito = ViewBag.IDPerito,
                    IDSpedizione = ViewBag.IDSpedizione,
                    IDMeteo = ViewBag.IDMeteo,
                    IDTP = ViewBag.IDTP,
                    aIDTrasportatore = ViewBag.aIDTrasportatore,
                    aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                    aIDModelloCasa = ViewBag.aIDModelloCasa,
                    IsUpdate = ViewBag.IsUpdate
                }, new { @class = "pdfImg" }) &nbsp;@ViewBag.NumPDF
            </td>
        </tr>


    </table>

</div>
<div>
    <br />
</div>
<div>
    <button type="submit" class="btn btn-primary custom">Salva dati</button> &nbsp;&nbsp;&nbsp;

    @if (ViewBag.IsUpdate == true)
    {
        @Html.ActionLink("Finito", "EditSpedizione", "ListaPerizie", new { IDSpedizione = ViewBag.IDSpedizione, ViewBag.IDTP }, new { @class = "btn btn-success custom" })
    }

    else
    {
        if ((ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "In modifica" || ViewBag.ErrMess == "TARGA CONOSCIUTA") && Session["Classe"].ToString() == "0")
        {
            @Html.ActionLink("Finito", "InputTelaio", new
            {
                IDPerito = ViewBag.IDPerito,
                IDSpedizione = ViewBag.IDSpedizione,
                IDMeteo = ViewBag.IDMeteo,
                IDTP = ViewBag.IDTP,
                IsUpdate = ViewBag.IsUpdate,
                aIDModello = ViewBag.aIDModelloCasa,
                IsRTB = Session["RTB"]
            }, new { @class = "btn btn-success custom" })
        }
        else if ((ViewBag.ErrMess == "" || ViewBag.ErrMess == "Sbloccato" || ViewBag.ErrMess == "In modifica" || ViewBag.ErrMess == "TARGA CONOSCIUTA") && Session["Classe"].ToString() == "1")
        {
            @Html.ActionLink("Finito", "InputTelaio", new
            {
                IDPerito = ViewBag.IDPerito,
                IDSpedizione = ViewBag.IDSpedizione,
                IDMeteo = ViewBag.IDMeteo,
                IDTP = ViewBag.IDTP,
                IsUpdate = ViewBag.IsUpdate,

                IsRTB = Session["RTB"]
            }, new { @class = "btn btn-success custom" })
        }
        else if(Session["Classe"].ToString() == "1")
        {
            @Html.ActionLink("Finito", "InputTelaio", new
       {
           IDPerito = ViewBag.IDPerito,
           IDSpedizione = ViewBag.IDSpedizione,
           IDMeteo = ViewBag.IDMeteo,
           IDTP = ViewBag.IDTP,
           Chassis = item4[0].Telaio,
           aIDModello = ViewBag.aIDModelloCasa,
           IsRTB =  Session["RTB"]
       }, new { @class = "btn btn-success custom disabled " })
        }
        else
        {
                    @Html.ActionLink("Finito", "InputTelaio", new
                    {
                        IDPerito = ViewBag.IDPerito,
                        IDSpedizione = ViewBag.IDSpedizione,
                        IDMeteo = ViewBag.IDMeteo,
                        IDTP = ViewBag.IDTP,
                        aIDModello = ViewBag.aIDModelloCasa,
                        IsRTB = Session["RTB"]
                    }, new { @class = "btn btn-success custom disabled" })
        }
    }
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Elimina", "EliminaPerizia", "TelaiAnagrafica", new
       {
           IDPerizia = item4[0].ID,
           IDPerito = ViewBag.IDPerito,
           IDSpedizione = ViewBag.IDSpedizione,
           IDMeteo = ViewBag.IDMeteo,
           IDTP = ViewBag.IDTP,
           IsUpdate = ViewBag.IsUpdate
       }, new { @class = "btn btn-danger custom" , onclick = "return confirm('Vuoi davvero cancellare la perizia ?');" })


</div>
<br />
@Html.Label("Note:")
@Html.TextArea("Annotazioni", item4[0].Note)

<script>
    submitform();
</script>

}
</div>

<br />

<div>
    @*@Html.ActionLink("Esci", "Index", null, new { @class = "btn btn-danger custom" })*@
</div>
<script>
    function tryMe(arg) {
        document.write(arg);
    }
</script>
<script>
    function InputToUpper(obj) {
        if (obj.value != "") {
            obj.value = obj.value.toUpperCase();
        }
    }
</script>


*
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>
<script>
    function submitform() {
        $('form').submit();
    }
</script>

<script>
    $('.selectpicker').selectpicker({
        dropupAuto: false,
        showSubtext: true,
        liveSearch: true

    });
</script>
@*<script>
        $(function () {
            $('form').submit();
        });
    </script>*@