
@{
    ViewBag.Title = "Index";
}


<br /><br />
<div style="text-align:left">
<h4>Inserire Telaio </h4>
@using (Html.BeginForm("InputTelaio", "TelaiAnagrafica", new
    {
        IDPerito = ViewBag.IDPerito,
        IDSpedizione = ViewBag.IDSpedizione,
        IDMeteo = ViewBag.IDMeteo,
        IDTP = ViewBag.IDTP
    
}))
{
<table>
    <tr>
        <td>


            @Html.TextBox("Chassis", null, new { style = "width:180px;text-transform:uppercase" , @id = "Telaio", @maxlength = "17", @placeholder = "CLICK TO SCAN:", @autofocus = "autofocus", @autocomplete = "off" })
            @Html.ValidationMessage("Telaio")

        </td>
    </tr>
    <tr>
        @if (ViewBag.Casa == "CAB")
        {
            if (Session["RTB"].ToString().ToUpper() == "TRUE")
            {
                <td>
                    Perizia RTB  @Html.CheckBox("IsRTB", true, new { @onclick = "this.form.submit();" })
                </td>
            }
            else
            {
                <td>
                    Perizia RTB  @Html.CheckBox("IsRTB", false, new { @onclick = "this.form.submit();" })
                </td>
            }
        }
        @*else
        {
            <td>
                Perizia RTB  @Html.CheckBox("IsRTB", true, new { @onclick = "this.form.submit();" })
            </td>
        }*@
    </tr>
    <tr>

        <td>
            <br />
            <button type="submit" id="btnConfirm" class="btn btn-success">Conferma</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button onclick="document.getElementById('Telaio').value = ''" class="btn btn-danger">Annulla</button>

        </td>
    </tr>
 </table>
}

</div>

<script>
    $(function () {
        var txt = $("input#Telaio");
        var func = function (e) {
            if (e.keyCode === 32) {
                txt.val(txt.val().replace(/\s/g, ''));
            }
        }
        txt.keyup(func).blur(func);
    });
</script>