@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "Visualizza storico telaio";
}

<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
@*<link rel="stylesheet" type="text/css" href="https://nightly.datatables.net/searchpanes/css/searchPanes.dataTables.min.css" />
    <script type="text/javascript" src="https://nightly.datatables.net/searchpanes/js/dataTables.searchPanes.min.js"</script>*@
@{
    string myViaggio = "";
    string mySpediz = "";
    string myPOL = "";
    string myPOD = "";
    string myNave = "";
    string OldVin = "";
    string NewVin = "";
}



<h4>Cerca dati pregressi </h4>

@{var datiMVC = Model.WEB_ListaPerizieFlat_MVC_vw;}
@{var datiTMP = Model.WEB_ListaPerizieFlat_TMP_vw;}
@{var datiDEF = Model.WEB_ListaPerizieFlat_DEF_ALL_vw;}
<p>
    Parametri ricerca : <br />
    Numero Giorni : @ViewBag.FiltroData <br />
    Stato perizie : @ViewBag.FiltroStato <br />
</p>
@*<h5>Periodo di ricerca = Entro 60 gg data odierna</h5>*@
<br />
@Html.ActionLink("Nuova ricerca", "CercaTelaio", "Storico", new { @class = "btn btn-primary btn-xs" })
<br />

@if (datiMVC.Count() > 0)
{
    <div class="container py-4">
        <div class="card">
            <div class="card-header bg-success text-black">
                <h5>Perizia da palmare non ancora chiusa </h5>

            </div>
            @try
            {
                var item1 = Model.WEB_ListaPerizieFlat_MVC_vw.ToList();
                myViaggio = item1[0].Viaggio.ToString();
                mySpediz = item1[0].IDSpedizione.ToString();
                myPOL = item1[0].POL.ToString();
                myPOD = item1[0].POD.ToString();
                myNave = item1[0].Nave.ToString();

            }
            catch { }
            <table>
                <tr>
                    <td>
                        @Html.Label("Spedizione : ")
                    </td>
                    <td>
                        @Html.Label(mySpediz)
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>


                    @*</tr>
                        <tr>*@
                    <td>
                        @Html.Label("Viaggio : ")
                    </td>
                    <td>
                        @Html.Label(myViaggio) &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    @*<td>&nbsp;&nbsp;</td>*@
                    @*</tr>

                        <tr>*@
                    <td>
                        @Html.Label("POL : ")
                    </td>
                    <td>
                        @Html.Label(myPOL) &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    @*</tr>
                        <tr>*@

                    <td>
                        @Html.Label("POD : ")
                    </td>
                    <td>
                        @Html.Label(myPOD) &nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    @*</tr>
                        <tr>*@
                    <td>
                        @Html.Label("Nave : ")
                    </td>
                    <td>
                        @Html.Label(myNave)&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    @*<td>&nbsp;&nbsp;</td>*@
                </tr>

            </table>


            <div class="card-body">
                @*<br /><br />*@
                <table id="qw" style="width:100%;" border="1">
                    <thead>
                        <tr>

                            @*<th>ID</th>*@
                            <th>Telaio</th>
                            <th>Modello</th>
                            <th>Viaggio</th>
                            <th>TP</th>
                            <th>Data perizia</th>
                            <th>Trasportatore</th>
                            <th>Status</th>
                            <th>Componente</th>
                            <th>Danno</th>
                            <th>N° foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WEB_ListaPerizieFlat_MVC_vw)
                        {

                            <tr>
                                @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                                @{OldVin = item.Telaio;}
                                @if (OldVin != NewVin)
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Telaio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Modello)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Viaggio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IDTipoPerizia)</td>
                                    <td>@Convert.ToDateTime(item.DataPerizia).ToString("dd/MM/yyyy")</td>
                                    <td>@Html.DisplayFor(modelItem => item.Trasportatore)</td>
                                    if (item.Status == "DMG")
                                    {
                                        <td style="color:red">@Html.DisplayFor(modelItem => item.Status)</td>
                                    }
                                    else
                                    {
                                        <td style="color:forestgreen">@Html.DisplayFor(modelItem => item.Status)</td>
                                    }
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                }


                                <td>@Html.DisplayFor(modelItem => item.Parte)</td>
                                <td>@Html.DisplayFor(modelItem => item.Danno)</td>

                                @{OldVin = item.Telaio;}
                                @if (OldVin != NewVin)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumFoto)
                                        @Html.ActionLink("Mostra foto", "CarouselFoto", "ListaPerizie", new
                                   {
                                       aIDPerizia = item.IDPerizia,
                                       IDPerito = ViewBag.IDPerito,
                                       IDSpedizione = ViewBag.IDSpedizione,
                                       IDMeteo = ViewBag.IDMeteo,
                                       IDTP = ViewBag.IDTP,
                                       aIDTrasportatore = ViewBag.aIDTrasportatore,
                                       aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                       aIDModelloCasa = ViewBag.aIDModelloCasa,
                                       ErrMess = ViewBag.ErrMess,
                                       IsUpdate = ViewBag.IsUpdate,
                                       aTelaio = item.Telaio,
                                       CntrProvenienza = "STORICO",
                                       FiltroData = ViewBag.FiltroData,
                                       FiltroStato = ViewBag.FiltroStato
                                   }, new { @class = "photoImg" })
                                    </td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>

                                }
                                @{NewVin = OldVin;}
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}



@if (datiTMP.Count() > 0)
{
    <br />
    <div class="container py-4">
        <div class="card">
            <div class="card-header bg-success text-black">
                <h5>Lista telai IN ELABORAZIONE c/o ASTREA</h5>
                @{ myViaggio = "";
                    mySpediz = "";
                    myPOL = "";
                    myPOD = "";
                    myNave = "";
                    OldVin = "";
                    NewVin = ""; }
            </div>
            @try
            {
                var item1 = Model.WEB_ListaPerizieFlat_TMP_vw.ToList();
                myViaggio = item1[0].Viaggio.ToString();
                mySpediz = item1[0].IDSpedizione.ToString();
                myPOL = item1[0].POL.ToString();
                myPOD = item1[0].POD.ToString();
                myNave = item1[0].Nave.ToString();

            }
            catch { }



            <div class="card-body">
                @*<br /><br />*@
                <table id="qw" style="width:100%;" border="1">
                    <thead>
                        <tr>

                            @*<th>ID</th>*@
                            <th>Telaio</th>
                            <th>Modello</th>
                            <th>Viaggio</th>
                            <th>TP</th>
                            <th>Data perizia</th>
                            <th>Trasportatore</th>
                            <th>Status</th>
                            <th>Componente</th>
                            <th>Danno</th>
                            <th>N° foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WEB_ListaPerizieFlat_TMP_vw)
                        {

                            <tr>
                                @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                                @{OldVin = item.IDPerizia;}
                                @if (OldVin != NewVin)
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Telaio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Modello)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Viaggio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IDTipoPerizia)</td>
                                    <td>@Convert.ToDateTime(item.DataPerizia).ToString("dd/MM/yyyy")</td>

                                    <td>@Html.DisplayFor(modelItem => item.Trasportatore)</td>
                                    if (item.Status == "DMG")
                                    {
                                        <td style="color:red">@Html.DisplayFor(modelItem => item.Status)</td>
                                    }
                                    else
                                    {
                                        <td style="color:forestgreen">@Html.DisplayFor(modelItem => item.Status)</td>
                                    }
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                }


                                <td>@Html.DisplayFor(modelItem => item.Parte)</td>
                                <td>@Html.DisplayFor(modelItem => item.Danno)</td>

                                @{OldVin = item.IDPerizia;}
                                @if (OldVin != NewVin)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumFoto)
                                        @Html.ActionLink("Mostra foto", "CarouselFotoTemporaneo", "Storico", new
                                   {
                                       aIDPerizia = item.IDPerizia,
                                       IDPerito = ViewBag.IDPerito,
                                       IDSpedizione = ViewBag.IDSpedizione,
                                       IDMeteo = ViewBag.IDMeteo,
                                       IDTP = ViewBag.IDTP,
                                       aIDTrasportatore = ViewBag.aIDTrasportatore,
                                       aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                       aIDModelloCasa = ViewBag.aIDModelloCasa,
                                       ErrMess = ViewBag.ErrMess,
                                       IsUpdate = ViewBag.IsUpdate,
                                       aTelaio = item.Telaio ,
                                       FiltroData = ViewBag.FiltroData,
                                       FiltroStato = ViewBag.FiltroStato
                                   }, new { @class = "photoImg" })
                                    </td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>

                                }
                                @{NewVin = OldVin;}
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
@if (datiDEF.Count() > 0)
{
    <br />
    <div class="container py-4">
        <div class="card">
            <div class="card-header bg-success text-black">
                <h5>Lista telai STORICO </h5>
                @{ myViaggio = "";
                    mySpediz = "";
                    myPOL = "";
                    myPOD = "";
                    myNave = "";
                    OldVin = "";
                    NewVin = ""; }
            </div>
            @try
            {
                var item1 = Model.WEB_ListaPerizieFlat_DEF_ALL_vw.ToList();
                myViaggio = item1[0].Viaggio.ToString();
                mySpediz = item1[0].IDSpedizione.ToString();
                myPOL = item1[0].POL.ToString();
                myPOD = item1[0].POD.ToString();
                myNave = item1[0].Nave.ToString();

            }
            catch { }



            <div class="card-body">
                @*<br /><br />*@
                <table id="qw" style="width:100%;" border="1">
                    <thead>
                        <tr>

                            @*<th>ID</th>*@
                            <th>Telaio</th>
                            <th>Modello</th>
                            <th>Viaggio</th>
                            <th>TP</th>
                            <th>Data perizia</th>
                            <th>Trasportatore</th>
                            <th>Status</th>
                            <th>Componente</th>
                            <th>Danno</th>
                            <th>N° foto</th>
                        </tr>
                    </thead>
                    <tbody>





                        @foreach (var item in Model.WEB_ListaPerizieFlat_DEF_ALL_vw)
                        {

                            <tr>
                                @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                                @{OldVin = item.IDPerizia;}
                                @if (OldVin != NewVin)
                                {
                                    <td>@Html.DisplayFor(modelItem => item.Telaio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Modello)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Viaggio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.IDTipoPerizia)</td>
                                    <td>@Convert.ToDateTime(item.DataPerizia).ToString("dd/MM/yyyy")</td>

                                    <td>@Html.DisplayFor(modelItem => item.Trasportatore)</td>
                                    if (item.STATUS == "DMG")
                                    {
                                        <td style="color:red">@Html.DisplayFor(modelItem => item.STATUS)</td>
                                    }
                                    else
                                    {
                                        <td style="color:forestgreen">@Html.DisplayFor(modelItem => item.STATUS)</td>
                                    }
                                }
                                else
                                {
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                }


                                <td>@Html.DisplayFor(modelItem => item.Parte)</td>
                                <td>@Html.DisplayFor(modelItem => item.Danno)</td>

                                @{OldVin = item.IDPerizia;}
                                @if (OldVin != NewVin)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumFoto)
                                        @Html.ActionLink("Mostra foto", "CarouselFotoStoriche", "Storico", new
                                   {
                                       aIDPerizia = item.IDPerizia,
                                       IDPerito = ViewBag.IDPerito,
                                       IDSpedizione = ViewBag.IDSpedizione,
                                       IDMeteo = ViewBag.IDMeteo,
                                       IDTP = ViewBag.IDTP,
                                       aIDTrasportatore = ViewBag.aIDTrasportatore,
                                       aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                       aIDModelloCasa = ViewBag.aIDModelloCasa,
                                       ErrMess = ViewBag.ErrMess,
                                       IsUpdate = ViewBag.IsUpdate,
                                       aTelaio = item.Telaio,
                                       FiltroData = ViewBag.FiltroData,
                                       FiltroStato = ViewBag.FiltroStato
                                   }, new { @class = "photoImg" })
                                    </td>
                                }
                                else
                                {
                                    <td>&nbsp;</td>

                                }
                                @{NewVin = OldVin;}
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        var table = $('#DataTable').DataTable({
            "autoWidth": false,
            stateSave: true,
            "lengthMenu": [[50, 100, -1], [10, 50, 100, "Tutti"]],
            "iDisplayLength": -1,



            dom: 'frtip',

            language: {

                processing: "Ricerca in corso...",
                search: "Ricerca:",
                //lengthMenu: "Visualizza _MENU_ elementi",

                info: "Elenca da _START_ a _END_ di _TOTAL_ elementi",
                infoEmpty: "Elenca da 0 a 0 di 0 elementi",
                infoFiltered: "(filtrati da _MAX_ elementi totali)",
                infoPostFix: "",
                loadingRecords: "Caricamento...",
                zeroRecords: "La ricerca non ha portato alcun risultato.",
                emptyTable: "Nessun record presente in tabella",
                paginate: {
                    first: "Inizio",
                    previous: "Precedente",
                    next: "Successivo",
                    last: "Fine"
                },
                aria: {
                    sortAscending: ": attiva per ordinare la colonna in ordine crescente",
                    sortDescending: ": attiva per ordinare la colonna in ordine decrescente"
                },
                searchPanes: {
                    title: {
                        _: 'Filtri selezionati : %d',
                        0: 'Nessun filtro selezionato',
                        1: 'Un solo filtro selezionato'
                    },
                    clearMessage: 'Azzera filtri !',
                    collapse: { 0: 'Ricerca avanzata', _: 'Scelte selezionate (%d)' }
                },
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ]
            }
        });
    });

</script>



