
@{
    ViewBag.Title = "Cerca Telaio";
}

<h4>Ricerca ispezioni precedenti </h4>



<div style="text-align:left">
    
    @*@using (Html.BeginForm("CercaTelaioSingolo", "Storico"))*@
    @using (Html.BeginForm("CercaStoriaTelaio", "Storico"))
    {
        <label>Filtro periodo ricerca viaggi</label><br />
        @*<label>15 gg: @Html.RadioButton("FiltroData", "15", false, new { onclick = "this.form.submit()" })</label>
            <label>&nbsp;&nbsp; &nbsp;&nbsp;30 gg:@Html.RadioButton("FiltroData", "30", true, new { onclick = "this.form.submit()" })</label>
            <label>&nbsp;&nbsp; &nbsp;&nbsp;60 gg gg:@Html.RadioButton("FiltroData", "60", false, new { onclick = "this.form.submit()" })</label>
            <label>&nbsp;&nbsp; &nbsp;&nbsp;90 gg:@Html.RadioButton("FiltroData", "90", false, new { onclick = "this.form.submit()" })</label>


            <label>Filtro stato dannosità telaio</label><br />
            <label>15 gg: @Html.RadioButton("FiltroStato", "15", false, new { onclick = "this.form.submit()" })</label>
            <label>&nbsp;&nbsp; &nbsp;&nbsp;30 gg:@Html.RadioButton("FiltroStato", "30", true, new { onclick = "this.form.submit()" })</label>
            <label>&nbsp;&nbsp; &nbsp;&nbsp;60 gg gg:@Html.RadioButton("FiltroStato", "60", false, new { onclick = "this.form.submit()" })</label>
            <label>&nbsp;&nbsp; &nbsp;&nbsp;90 gg:@Html.RadioButton("FiltroStato", "90", false, new { onclick = "this.form.submit()" })</label>*@

        <label>15 gg: @Html.RadioButton("FiltroData", 15, false)</label>
        <label>&nbsp;&nbsp; &nbsp;&nbsp;30 gg:@Html.RadioButton("FiltroData", 30, false)</label>
        <label>&nbsp;&nbsp; &nbsp;&nbsp;60 gg gg:@Html.RadioButton("FiltroData", 60, false)</label>
        <label>&nbsp;&nbsp; &nbsp;&nbsp;90 gg:@Html.RadioButton("FiltroData", 90, true)</label>

        <br /> <br />
        <label>Filtro stato dannosità telaio</label><br />

        <label>&nbsp;&nbsp; &nbsp;&nbsp;Tutte:@Html.RadioButton("FiltroStato", "ALL", true)</label>
        @*<label>&nbsp;&nbsp; &nbsp;&nbsp;Solo good:@Html.RadioButton("FiltroStato", "Good", false)</label>*@
        <label>&nbsp;&nbsp; &nbsp;&nbsp;Solo Damaged:@Html.RadioButton("FiltroStato", "DAMAGED", false)</label>
        <label>&nbsp;&nbsp; &nbsp;&nbsp;Solo Good:@Html.RadioButton("FiltroStato", "GOOD", false)</label>
        <br /><br />
        <table>
            <tr>
                <td>


                    @Html.TextBox("aTelaio", null, new { style = "width:180px;text-transform:uppercase", @id = "Telaio", @maxlength = "17", @placeholder = "CLICK TO SCAN:", @autofocus = "autofocus", @autocomplete = "off" })
                    @Html.ValidationMessage("Telaio")

                </td>
            </tr>

            <tr>

                <td>
                    <br />
                    <button type="submit" id="btnConfirm" class="btn btn-success">Cerca</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @*<button onclick="document.getElementById('Telaio').value = ''" class="btn btn-primary">Chiudi</button>*@
                    @Html.ActionLink("Chiudi", "Index", "Home", new { usr = Session["User"].ToString() }, new { @class = "btn btn-primary" })


                </td>
            </tr>
        </table>
    }

</div>

<script>
    $(function () {
        var txt = $("input#Telaio");
        var func = function (e) {
            if (e.keyCode === 32) {
                txt.val(txt.val().replace(/\s/g, ''));
            }
        }
        txt.keyup(func).blur(func);
    });
</script>

