@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "CercaTelaioSingolo";
}
@*Script*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<h4>Telaio : @ViewBag.Chassis</h4>

<br />
@{var Testata = Model.WEB_ListaPerizieFlat_MVC_vw.ToList();}

@if (Testata.Count() > 0)
{
    <div id="flip">Click qui x visualizzare dati PRELOAD</div>
    <div id="panel">
        Dati generali
        <table border="1">

            <tbody>

                <tr>
                    <td width=30% style="font-weight:bold">
                        Spedizione :
                    </td>

                    <td width=30%>
                        @Testata[0].IDSpedizione
                    </td>
                    <td width=20% style="font-weight:bold">
                        Viaggio :
                    </td>

                    <td width=20%>
                        @Testata[0].Viaggio
                    </td>
                </tr>
                <tr>
                    <td width=30% style="font-weight:bold">
                        POL :
                    </td>

                    <td width=30%>
                        @Testata[0].POL
                    </td>
                    <td width=20% style="font-weight:bold">
                        Imbarco :
                    </td>

                    <td width=20%>
                        @Convert.ToDateTime(Testata[0].DataPartenzaImbarco).ToString("dd/MM/yyyy")
                    </td>
                </tr>
                <tr>
                    <td width=30% style="font-weight:bold">
                        POD :
                    </td>

                    <td width=30%>
                        @Testata[0].POD
                    </td>
                    <td width=20% style="font-weight:bold">
                        Sbarco :
                    </td>

                    <td width=20%>
                        @Convert.ToDateTime(Testata[0].DataArrivoSbarco).ToString("dd/MM/yyyy")
                    </td>
                </tr>
                <tr>
                    <td width=30% style="font-weight:bold">
                        Nave :
                    </td>

                    <td width=30%>
                        @Testata[0].Nave
                    </td>
                    <td width=20%></td>

                    <td width=20%></td>
                </tr>

            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <br />
        Dettagli danno
        <table border="1">
            <thead>
                <tr>
                    <th>
                        Parte :
                    </th>
                    <th>
                        Danno :
                    </th>
                    <th>
                        Gravità :
                    </th>
                    <th>
                        Qta :
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WEB_ListaPerizieFlat_MVC_vw)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Parte)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Danno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gravita)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qta)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            <b>Trasportatore</b> :  @Html.DisplayFor(modelItem => item.Trasportatore)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            <b>Note</b> :  @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
}



else
{
    <div id="flip">NON ci sono dati IN TRANSITO da visualizzare</div>
    <div id="panel">
        NON ci sono dati da visualizzare
    </div>
}
<br />
@{var TestataDef = Model.WEB_ListaPerizieFlat_DEF_vw.ToList();
    string Spedizione = "";  }
@if (TestataDef.Count() > 0)
{

    <div id="flip1">Click qui x visualizzare dati perizia storici</div>
    <div id="panel1">
        Dati generali
        @if (Spedizione != TestataDef[0].IDSpedizione)
        {
            <table border="1">

                <tbody>

                    <tr>
                        <td width=30% style="font-weight:bold">
                            Spedizione :
                        </td>

                        <td width=30%>
                            @TestataDef[0].IDSpedizione
                        </td>
                        <td width=20% style="font-weight:bold">
                            Viaggio :
                        </td>

                        <td width=20%>
                            @TestataDef[0].Viaggio
                        </td>
                    </tr>
                    <tr>
                        <td width=30% style="font-weight:bold">
                            POL :
                        </td>

                        <td width=30%>
                            @TestataDef[0].POL
                        </td>
                        <td width=20% style="font-weight:bold">
                            Imbarco :
                        </td>

                        <td width=20%>
                            @Convert.ToDateTime(TestataDef[0].DataPartenzaImbarco).ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td width=30% style="font-weight:bold">
                            POD :
                        </td>

                        <td width=30%>
                            @TestataDef[0].POD
                        </td>
                        <td width=20% style="font-weight:bold">
                            Sbarco :
                        </td>

                        <td width=20%>
                            @Convert.ToDateTime(TestataDef[0].DataArrivoSbarco).ToString("dd/MM/yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td width=30% style="font-weight:bold">
                            Nave :
                        </td>

                        <td width=30%>
                            @TestataDef[0].Nave
                        </td>
                        <td width=20%></td>

                        <td width=20%></td>
                    </tr>

                </tbody>
                <tfoot>

                </tfoot>

            </table>
            Spedizione = TestataDef[0].IDSpedizione;
        }
        <br />
        Dettagli danno
        <table border="1">
            <thead>
                <tr>
                    <th>
                        Parte :
                    </th>
                    <th>
                        Danno :
                    </th>
                    <th>
                        Gravità :
                    </th>
                    <th>
                        Qta :
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.WEB_ListaPerizieFlat_DEF_vw)
                {
                    if (Spedizione == item.IDSpedizione)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Parte)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Danno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gravita)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Qta)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="100%">
                                <b>Trasportatore</b> :  @Html.DisplayFor(modelItem => item.Trasportatore)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="100%">
                                <b>Note</b> :  @Html.DisplayFor(modelItem => item.Note)
                            </td>
                        </tr>

                    }
                }

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
}
else
{
    <div id="flip">NON ci sono dati STORICI da visualizzare</div>
    <div id="panel">
        NON ci sono dati da visualizzare
    </div>
}

    </br>
@Html.ActionLink("Cerca telaio", "CercaTelaio", "Storico", routeValues: null, htmlAttributes: new { @class = "btn btn-primary custom" })
<script>
    $(document).ready(function () {
        $("#flip").click(function () {
            $("#panel").slideToggle("slow");
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#flip1").click(function () {
            $("#panel1").slideToggle("slow");
        });
    });
</script>
