@model WEB_Auto.Models.HomeModel
@{
    ViewBag.Title = "Visualizza dati Preload";
}
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"</script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
@*<link rel="stylesheet" type="text/css" href="https://nightly.datatables.net/searchpanes/css/searchPanes.dataTables.min.css" />
    <script type="text/javascript" src="https://nightly.datatables.net/searchpanes/js/dataTables.searchPanes.min.js"</script>*@
<script type="text/javascript">

    $(document).ready(function () {
        //$('#DataTable').DataTable();
        $('#checkBoxAll').click(function () {
            if ($(this).is(":checked")) {
                $(".chkCheckBoxId").prop("checked", true)
            }
            else {
                $(".chkCheckBoxId").prop("checked", false)
            }
        });
    });
</script>

@{
    string myViaggio = "";
    string mySpediz = "";
    string myPOL = "";
    string myPOD = "";
    string myNave = "";
    string OldVin = "";
    string NewVin = "";
}
<br />
<h4 class="card-title">Dati preload</h4>
<h5>Periodo di ricerca = Entro 60 gg data odierna</h5>
<br />
<div>
    @Html.ActionLink("Chiudi", "Index", "Home", new { usr = Session["User"].ToString() }, new { @class = "btn btn-primary" })
</div>
<br />
<div class="container py-4">
    <div class="card">
        <div class="card-header">


        </div>
        @using (Html.BeginForm("VisualizzaPreload", "Storico", new { }, FormMethod.Get))
        {
            @Html.TextBox("aViaggio")
            <button type="submit" value="Cerca" class="btn btn-sm btn-dark rounded-0"><i class="fa fa-search fa-lg"></i> Ricerca  viaggio</button>
        }
        <br />

    </div>
</div>

<div class="container py-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5>Lista telai Viaggio NON ANCORA CHIUSO</h5>

        </div>
        @try
        {
            var item1 = Model.WEB_ListaPerizieFlat_MVC_vw.ToList();
            myViaggio = item1[0].Viaggio.ToString();
            mySpediz = item1[0].IDSpedizione.ToString();
            myPOL = item1[0].POL.ToString();
            myPOD = item1[0].POD.ToString();
            myNave = item1[0].Nave.ToString();

        }
        catch { }
        <table>
            <tr>
                <td>
                    @Html.Label("Spedizione : ")
                </td>
                <td>
                    @Html.Label(mySpediz)
                </td>
                <td>&nbsp;&nbsp;</td>


            </tr>
            <tr>
                <td>
                    @Html.Label("Viaggio : ")
                </td>
                <td>
                    @Html.Label(myViaggio)
                </td>
                @*<td>&nbsp;&nbsp;</td>*@
            </tr>
            @*<tr>
                    <td>
                        @Html.Label("Del : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
                    </td>
                </tr>*@
            <tr>
                <td>
                    @Html.Label("POL : ")
                </td>
                <td>
                    @Html.Label(myPOL)
                </td>
            </tr>
            <tr>

                <td>
                    @Html.Label("POD : ")
                </td>
                <td>
                    @Html.Label(myPOD)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Nave : ")
                </td>
                <td>
                    @Html.Label(myNave)
                </td>
                @*<td>&nbsp;&nbsp;</td>*@
            </tr>

        </table>

        <br />
        <div class="card-body">
            <br /><br />
            <table id="DataTable1" style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>

                        @*<th>ID</th>*@
                        <th>Telaio</th>
                        <th>Modello</th>
                        <th>Data perizia</th>
                        <th>Tipo perizia</th>
                        <th>Trasportatore</th>
                        <th>Status</th>
                        <th>Componente</th>
                        <th>Danno</th>
                        <th>N° foto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WEB_ListaPerizieFlat_MVC_vw)
                    {

                        <tr>
                            @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                            @{OldVin = item.Telaio;}
                            @if (OldVin != NewVin)
                            {
                                <td>@Html.DisplayFor(modelItem => item.Telaio)</td>
                                <td>@Html.DisplayFor(modelItem => item.Modello)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.DataPerizia)</td>*@
                                <td> @Convert.ToDateTime(item.DataPerizia).ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.IDTipoPerizia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Trasportatore)</td>
                                if (item.Status == "DMG")
                                {
                                    <td style="color:red">@Html.DisplayFor(modelItem => item.Status)</td>
                                }
                                else
                                {
                                    <td style="color:forestgreen">@Html.DisplayFor(modelItem => item.Status)</td>
                                }
                            }
                            else
                            {
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            }


                            <td>@Html.DisplayFor(modelItem => item.Parte)</td>
                            <td>@Html.DisplayFor(modelItem => item.Danno)</td>

                            @{OldVin = item.Telaio;}
                            @if (OldVin != NewVin)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumFoto)
                                    @Html.ActionLink("Mostra foto", "CarouselFoto", "ListaPerizie", new
                               {
                                   aIDPerizia = item.IDPerizia,
                                   IDPerito = ViewBag.IDPerito,
                                   IDSpedizione = ViewBag.IDSpedizione,
                                   IDMeteo = ViewBag.IDMeteo,
                                   IDTP = ViewBag.IDTP,
                                   aIDTrasportatore = ViewBag.aIDTrasportatore,
                                   aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                   aIDModelloCasa = ViewBag.aIDModelloCasa,
                                   ErrMess = ViewBag.ErrMess,
                                   IsUpdate = ViewBag.IsUpdate,
                                   CntrProvenienza = "PRELOAD"
                               }, new { @class = "photoImg" })
                                </td>
                            }
                            else
                            {
                                <td>&nbsp;</td>

                            }
                            @{NewVin = OldVin;}
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="container py-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5>Lista telai Viaggio CHIUSO E VERIFICATO IN ASTREA</h5>

        </div>
        @try
        {
            var item1 = Model.WEB_ListaPerizieFlat_DEF_ALL_vw.ToList();
            myViaggio = item1[0].Viaggio.ToString();
            mySpediz = item1[0].IDSpedizione.ToString();
            myPOL = item1[0].POL.ToString();
            myPOD = item1[0].POD.ToString();
            myNave = item1[0].Nave.ToString();

        }
        catch { }
        <table>
            <tr>
                <td>
                    @Html.Label("Spedizione : ")
                </td>
                <td>
                    @Html.Label(mySpediz)
                </td>
                <td>&nbsp;&nbsp;</td>


            </tr>
            <tr>
                <td>
                    @Html.Label("Viaggio : ")
                </td>
                <td>
                    @Html.Label(myViaggio)
                </td>
                @*<td>&nbsp;&nbsp;</td>*@
            </tr>
            @*<tr>
                    <td>
                        @Html.Label("Del : ")
                    </td>
                    <td>
                        @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
                    </td>
                </tr>*@
            <tr>
                <td>
                    @Html.Label("POL : ")
                </td>
                <td>
                    @Html.Label(myPOL)
                </td>
            </tr>
            <tr>

                <td>
                    @Html.Label("POD : ")
                </td>
                <td>
                    @Html.Label(myPOD)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Nave : ")
                </td>
                <td>
                    @Html.Label(myNave)
                </td>
                @*<td>&nbsp;&nbsp;</td>*@
            </tr>

        </table>

        <br />
        <div class="card-body">
            <br /><br />
            <table id="DataTable2" style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>

                        @*<th>ID</th>*@
                        <th>Telaio</th>
                        <th>Modello</th>
                        <th>Data perizia</th>
                        <th>Tipo perizia</th>
                        <th>Trasportatore</th>
                        <th>Status</th>
                        <th>Componente</th>
                        <th>Danno</th>
                        <th>N° foto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WEB_ListaPerizieFlat_DEF_ALL_vw)
                    {

                        <tr>
                            @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                            @{OldVin = item.Telaio;}
                            @if (OldVin != NewVin)
                            {
                                <td>@Html.DisplayFor(modelItem => item.Telaio)</td>
                                <td>@Html.DisplayFor(modelItem => item.Modello)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.DataPerizia)</td>*@
                                <td> @Convert.ToDateTime(item.DataPerizia).ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.IDTipoPerizia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Trasportatore)</td>
                                if (item.Status == "DMG")
                                {
                                    <td style="color:red">@Html.DisplayFor(modelItem => item.Status)</td>
                                }
                                else
                                {
                                    <td style="color:forestgreen">@Html.DisplayFor(modelItem => item.Status)</td>
                                }
                            }
                            else
                            {
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            }


                            <td>@Html.DisplayFor(modelItem => item.Parte)</td>
                            <td>@Html.DisplayFor(modelItem => item.Danno)</td>

                            @{OldVin = item.Telaio;}
                            @if (OldVin != NewVin)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumFoto)
                                    @Html.ActionLink("Mostra foto", "CarouselFotoStoricizzate", "ListaPerizie", new
                                       {
                                           aIDPerizia = item.IDPerizia,
                                           IDPerito = ViewBag.IDPerito,
                                           IDSpedizione = ViewBag.IDSpedizione,
                                           IDMeteo = ViewBag.IDMeteo,
                                           IDTP = ViewBag.IDTP,
                                           aIDTrasportatore = ViewBag.aIDTrasportatore,
                                           aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                           aIDModelloCasa = ViewBag.aIDModelloCasa,
                                           ErrMess = ViewBag.ErrMess,
                                           IsUpdate = ViewBag.IsUpdate,
                                           aTelaio = item.Telaio,
                                           aViaggio = myViaggio,
                                           CntrProvenienza = "VERIFICATE"
                                       }, new { @class = "photoImg" })
                                </td>
                            }
                            else
                            {
                                <td>&nbsp;</td>

                            }
                            @{NewVin = OldVin;}
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="container py-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h5>Lista telai Viaggio CHIUSO NON ANCORA VERIFICATO IN ASTREA</h5>

        </div>
        @try
        {
            var item1 = Model.WEB_ListaPerizieFlat_TMP_vw.ToList();
            myViaggio = item1[0].Viaggio.ToString();
            mySpediz = item1[0].IDSpedizione.ToString();
            myPOL = item1[0].POL.ToString();
            myPOD = item1[0].POD.ToString();
            myNave = item1[0].Nave.ToString();

        }
        catch { }
        <table id="DataTable3" style="width:100%;" class="table table-bordered">
            <tr>
                <td>
                    @Html.Label("Spedizione : ")
                </td>
                <td>
                    @Html.Label(mySpediz)
                </td>
                <td>&nbsp;&nbsp;</td>


            </tr>
            <tr>
                <td>
                    @Html.Label("Viaggio : ")
                </td>
                <td>
                    @Html.Label(myViaggio)
                </td>
                @*<td>&nbsp;&nbsp;</td>*@
            </tr>
            @*<tr>
            <td>
                @Html.Label("Del : ")
            </td>
            <td>
                @Html.Label(item1[0].DataInizioImbarco.ToString().Substring(0, 10))
            </td>
        </tr>*@
            <tr>
                <td>
                    @Html.Label("POL : ")
                </td>
                <td>
                    @Html.Label(myPOL)
                </td>
            </tr>
            <tr>

                <td>
                    @Html.Label("POD : ")
                </td>
                <td>
                    @Html.Label(myPOD)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Nave : ")
                </td>
                <td>
                    @Html.Label(myNave)
                </td>
                @*<td>&nbsp;&nbsp;</td>*@
            </tr>

        </table>

        <br />
        <div class="card-body">
            <br /><br />

            <table id="DataTable3" style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>

                        @*<th>ID</th>*@
                        <th>Telaio</th>
                        <th>Modello</th>
                        <th>Data perizia</th>
                        <th>Tipo perizia</th>
                        <th>Trasportatore</th>
                        <th>Status</th>
                        <th>Componente</th>
                        <th>Danno</th>
                        <th>N° foto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.WEB_ListaPerizieFlat_TMP_vw)
                    {

                        <tr>
                            @*<td>@Html.DisplayFor(modelItem => item.ID)</td>*@
                            @{OldVin = item.Telaio;}
                            @if (OldVin != NewVin)
                            {
                                <td>@Html.DisplayFor(modelItem => item.Telaio)</td>
                                <td>@Html.DisplayFor(modelItem => item.Modello)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.DataPerizia)</td>*@
                                <td> @Convert.ToDateTime(item.DataPerizia).ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.IDTipoPerizia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Trasportatore)</td>
                                if (item.Status == "DMG")
                                {
                                    <td style="color:red">@Html.DisplayFor(modelItem => item.Status)</td>
                                }
                                else
                                {
                                    <td style="color:forestgreen">@Html.DisplayFor(modelItem => item.Status)</td>
                                }
                            }
                            else
                            {
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            }


                            <td>@Html.DisplayFor(modelItem => item.Parte)</td>
                            <td>@Html.DisplayFor(modelItem => item.Danno)</td>

                            @{OldVin = item.Telaio;}
                            @if (OldVin != NewVin)
                            {
                            <td>
                                @Html.DisplayFor(modelItem => item.NumFoto)
                                @Html.ActionLink("Mostra foto", "CarouselFotoStoricizzate", "ListaPerizie", new
                                    {
                                        aIDPerizia = item.IDPerizia,
                                        IDPerito = ViewBag.IDPerito,
                                        IDSpedizione = ViewBag.IDSpedizione,
                                        IDMeteo = ViewBag.IDMeteo,
                                        IDTP = ViewBag.IDTP,
                                        aIDTrasportatore = ViewBag.aIDTrasportatore,
                                        aIDTipoRotabile = ViewBag.aIDTipoRotabile,
                                        aIDModelloCasa = ViewBag.aIDModelloCasa,
                                        ErrMess = ViewBag.ErrMess,
                                        IsUpdate = ViewBag.IsUpdate,
                                        aTelaio = item.Telaio,
                                        aViaggio = myViaggio,
                                        CntrProvenienza = "NONVERIFICATE"
                                    }, new { @class = "photoImg" })
                            </td>
                            }
                            else
                            {
                                <td>&nbsp;</td>

                            }
                            @{NewVin = OldVin;}
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
<script>
    $(document).ready(function () {
        var table = $('#DataTable').DataTable({
            "autoWidth": false,
            stateSave: true,
            "lengthMenu": [[-1, 50, 100], ["Tutti", 50, 100]],
            "iDisplayLength": -1,



            dom: 'frtip',

            language: {

                processing: "Ricerca in corso...",
                search: "Ricerca:",
                //lengthMenu: "Visualizza _MENU_ elementi",

                info: "Elenca da _START_ a _END_ di _TOTAL_ elementi",
                infoEmpty: "Elenca da 0 a 0 di 0 elementi",
                infoFiltered: "(filtrati da _MAX_ elementi totali)",
                infoPostFix: "",
                loadingRecords: "Caricamento...",
                zeroRecords: "La ricerca non ha portato alcun risultato.",
                emptyTable: "Nessun record presente in tabella",
                paginate: {
                    first: "Inizio",
                    previous: "Precedente",
                    next: "Successivo",
                    last: "Fine"
                },
                aria: {
                    sortAscending: ": attiva per ordinare la colonna in ordine crescente",
                    sortDescending: ": attiva per ordinare la colonna in ordine decrescente"
                },
                searchPanes: {
                    title: {
                        _: 'Filtri selezionati : %d',
                        0: 'Nessun filtro selezionato',
                        1: 'Un solo filtro selezionato'
                    },
                    clearMessage: 'Azzera filtri !',
                    collapse: { 0: 'Ricerca avanzata', _: 'Scelte selezionate (%d)' }
                },
                buttons: [
                    'copy', 'csv', 'excel', 'print'
                ]
            }
        });
    });

</script>

