@model IEnumerable<WEB_Auto.Models.WEB_AUTO_FOTO>

@{
    /**/

    ViewBag.Title = "Gestione fotografie";
}

<div style="text-align:center">
    <h4>Gestione fotografie</h4>
    <br />

    @Html.ActionLink("Torna a perizia", "Edit","TelaiAnagrafica", new { myIDPerizia = ViewBag.myIDPerizia ,
    IDPerito = ViewBag.IDPerito,
    IDSpedizione = ViewBag.IDSpedizione,
    IDMeteo = ViewBag.IDMeteo,
    IDTP = ViewBag.IDTP,
    aIDTrasportatore = ViewBag.aIDTrasportatore,
    aIDTipoRotabile = ViewBag.aIDTipoRotabile,
    aIDModelloCasa = ViewBag.aIDModelloCasa,
    errMess = ViewBag.ErrMess,
    IsUpdate = ViewBag.IsUpdate
}, new { @class = "btn btn-primary btn-xs" })
    &nbsp;&nbsp;
    @*@Html.ActionLink("Drag & drop", "DragAndDrop", new { IDCommessa = Session["IDCommessa"], IDTelaio = ViewBag.IDTelaio, IDTipoDocumento = ViewBag.IDTipoDocumento }, new { @class = "btn btn-warning btn-xs" })*@
</div>
<br />
<b>Foto salvate : @ViewBag.NumFoto</b>
<br /><br />
@using (Html.BeginForm("UploadFoto", "Documenti", new { myIDPerizia = ViewBag.myIDPerizia, IDPerito = ViewBag.IDPerito, IDSpedizione = ViewBag.IDSpedizione,
            IDMeteo = ViewBag.IDMeteo, IDTP = ViewBag.IDTP, aIDTrasportatore = ViewBag.aIDTrasportatore, aIDTipoRotabile = ViewBag.aIDTipoRotabile,
            aIDModelloCasa = ViewBag.aIDModelloCasa, ErrMess = ViewBag.ErrMess, IsUpdate = ViewBag.IsUpdate
    }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @*<table border="0">
        <thead>
            <tr>

                <td>

                    <input type="file" name="files" multiple id="files_0" accept="image/*;capture=camera" />
                    
                </td>
                <td>
                    <input type="submit" value="Upload" class="btn btn-success " />
                </td>
            </tr>


        </thead>
    </table>*@
    
    <table border="0">
        <tr>

            <td>

               

                <label class="btn btn-primary">
                     Apri fotocamera<input type="file" id="story_avatar" onchange="form.submit()" style="display:contents;" name="files" multiple id="files_0" accept="image/*" capture="camera">
                </label>

            </td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <label class="btn btn-warning">
                    Carica foto da archivio<input type="file" onchange="form.submit()" style="display:contents;" name="files" multiple id="files_0" accept="image/*">
                </label>
            </td>


        </tr>
    </table>

    <br />


}


@foreach (var item in Model)
{
    <table border="0">
        <tr>
            <td></td>
            <td>
                <img src="@Url.Content("~/DocumentiXTelai/Foto/" + item.FileName)" title="@Url.Content(item.FileName)" alt="Image" style='height: 480px; width: 640px; object-fit: contain'>

            </td>
            


            <td>

                @Html.ActionLink("Elimina", "CancellaDocumento", new { IDDocumento = item.ID,
               myIDPerizia = item.IDPerizia,
               nomefile = item.FileName,
               IDPerito = ViewBag.IDPerito,
               IDSpedizione = ViewBag.IDSpedizione,
               IDMeteo = ViewBag.IDMeteo,
               IDTP = ViewBag.IDTP,
               aIDTrasportatore = ViewBag.aIDTrasportatore,
               aIDTipoRotabile = ViewBag.aIDTipoRotabile,
               aIDModelloCasa = ViewBag.aIDModelloCasa,
               IsUpdate = ViewBag.IsUpdate
           }, new { @class = "btn btn-danger btn-xs", onclick = "return confirm('Vuoi davvero cancellare la foto ?');" })
            </td>
        </tr>
        <br />

    </table>

}



<script>
    $('#story_avatar').change(function () { // this is the file input
        readURL(this);
    })
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-item').attr('src', e.target.result); //img element
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

